<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 告诉spring创建对象
申明bean，就是告诉spring要创建某个类的对象
id：对象自定义名称，唯一值。spring通过这个名称找到对象
class：类的全限定名称（不能是接口，因为spring是反射机制创建对象，必须使用类）
spring就完成 Some sv = new SomeImpl();
spring是把创建好的对象放入到map中，spring框架有一个map存放对象的。
springMap.put（id 的值  ， 对象）；
例如 springMap.put（"somService,new SomeServiceImpl());
一个bean标签申明一个对象
-->
    <bean id="se" class="com.bjpo.service.impl.SomeImpl"/>
    <bean id="se1" class="com.bjpo.service.impl.SomeImpl"/>
</beans>
<!--
spring的配置文件
1.beans ：是根标签，spring把Java对象称为bean。
2.spring-beans.xsd 是约束文件和mybatis指定dtd是一样的。
-->