<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
<!--申明student对象
    注入：就是赋值的意思
    简单类型：spring中规定Java的基本数据类型和string都是简单类型。
    di：给属性赋值
    1.set注入（设置注入）：spring调用类的set方法，你可以在set方法中完成属性赋值
    1）简单类型的set注入
    <bean id="" class="">
      <property name="属性的名字" value="此属性的值"/>
      一个property只能给一个属性赋值
    </bean>

-->
    <bean id="myStudent" class="com.bjpo.ba01.student">
    <property name="name" value="李四"/>
    <property name="age"  value="20"/>
</bean>
</beans>